---
import Layout from '../layouts/Layout.astro';

import Hero from '../components/Hero.astro';
import Proposals from '../components/Proposals.astro';
import Testimonials from '../components/Testimonials.astro';
import Contact from '../components/Contact.astro';

import '../css/tag-cloud.css'
---

<Layout
  title="Deico"
  description=""
  ogTitle=""
  ogDescription=""
  ogUrl=""
  canonicalURL=""
  favicon="/favicon/"
  faviconLight="/favicon/">
	<main>
		<Hero />
		<Proposals />
		<Testimonials />
		<Contact />
	</main>
</Layout>

<style>
	
</style>

<script>
  import '../js/script.js';
</script>
