<section id="Proposals">
    <div>
        <h3>Nosotros</h3>
        <h2>Quienes somos</h2>
        <div class="proposals-wrapper">

        </div>
    </div>

    <div>
        <h3>Propuestas</h3>
        <h2>Todo lo que buscas en un solo lugar</h2>
        <div class="proposals-wrapper">
            <div class="proposal">
                <span class="icon"><i class="fa-solid fa-wrench"></i></span>
                <h3 class="title">Calidad</h3>
                <p class="description">Con mas de 40 años en el rubro de la construccion. Cumplimos con todos los estandards mas rigurosos de calidad maximo, directo a tu hogar.</p>
            </div>
            <div class="proposal">
                <span class="icon"><i class="fa-solid fa-bolt"></i></span>
                <h3 class="title">Rapidez</h3>
                <p class="description">Entrega en <b class="important">menos de 3 dias</b> desde el momento de la transaccion. Un dia de manufactura, uno de mantencion, y finalmente el ultimo de entrega.</p>
            </div>
            <div class="proposal">
                <span class="icon"><i class="fa-solid fa-handshake"></i></span>
                <h3 class="title">Disposicion</h3>
                <p class="description">Con atencion al publico automatizada las 24 horas del dia, los 7 dias de la semana. Contamos con una infrastructura robusta y de la mas alta calidad.</p>
            </div>
        </div>
    </div>
</section>

<style>
    #Proposals {
        background-color: hsl(var(--main-dark));
    }

    #Proposals > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        filter: hue-rotate();


        width: 100%;
        max-width: 1100px;
        margin-inline: auto;
        padding: var(--padding);
    }

    #Proposals > div > h3 {
        margin: 0;
        font-size: .875rem;
        color: hsl(var(--important));    

        text-align: center;
    }

    #Proposals > div > h2 {
        font-size: 3rem;
        margin-block-start: 0;
        
        text-align: center;
    }

    .proposals-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: var(--padding);
        place-items: center;
    }

    .proposal {
        display: flex;
        flex-direction: column;
        align-items: center;

        max-width: 18rem;

        padding: var(--padding);
        border-radius: var(--radius-accent);
    }

    .proposal:is(:hover, :focus-visible) {
        background-color: hsl(var(--white), 2%);
    }

    .icon {
        display: flex;
        justify-content: center;
        align-items: center;

        width: calc(var(--padding) + 0.75rem);
        height: calc(var(--padding) + 0.75rem);

        padding: calc(var(--padding) + .75rem);
        background-color: hsl(var(--important));
        border-radius: 50%;
    }

    .icon i {
        font-size: 1.5rem;
    }

    .title {
        text-align: center;
    }

    .description {
        
    }
</style>